# data
data/*.csv
.ipynb_checkpoints/

# cred
cred/

# IDE                                              
.idea/                                             
.vscode/                                           
*.swp                                              
                                                    
# OS                                               
.DS_Store                                          
Thumbs.db  

# spark
spark/.ipython/
spark/.jupyter/
spark/.local/
spark/.npm/
spark/.ivy2/
spark/output/
spark/output/**