# data
data/*.csv
.ipynb_checkpoints/

# cred
cred/

# IDE                                              
.idea/                                             
.vscode/                                           
*.swp                                              
                                                    
# OS                                               
.DS_Store                                          
Thumbs.db  

# spark
spark/.ipython/
spark/.jupyter/
spark/.local/
spark/.npm/
spark/.ivy2/
spark/output/
spark/output/**

# venv
.venv

# env
.env
airflow/.env

# dbt
dbt/.venv/
dbt/target/
dbt/logs/
dbt/dbt_packages/
dbt/.user.yml

# airflow
airflow/logs/

# python
__pycache__/
*.pyc
.pytest_cache/
.ruff_cache/
.mypy_cache/
